Repository chronicle/logstory: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-timestamp-configs, validate-chronicle-rules, no-hardcoded-secrets

validate-timestamp-configs:
  name: Validate LogStory timestamp configurations
  entry: python
  language: system
  args:
  - -c
  ...

validate-chronicle-rules:
  name: Validate Chronicle rule files
  entry: python
  language: system
  args:
  - -c
  ...

no-hardcoded-secrets:
  name: Check for hardcoded secrets
  entry: python
  language: system
  args:
  - -c
  ...

BREAKING CHANGE: Require explicit API type configuration
  docs/REST_API_MIGRATION.md
Due: none

detect common auth mistake
  .env.example.legacy
  .env.example.rest
  src/logstory/auth.py
  tests/test_auth.py
Due: no-hardcoded-secrets

raise if no usecase found
  src/logstory/logstory.py
Due: no-hardcoded-secrets

feat(usecases): Implement auto-download via env var and CLI
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

Docs: Add auto-download for usecases
  README.md
  docs/cli-reference.md
  docs/configuration.md
  docs/env-file.md
  docs/index.md
  docs/scripting.md
Due: none

feat: Auto-download missing usecases and add .env support
  Dockerfile.minimal
  Dockerfile.uvx
  Dockerfile.wheel
  Makefile
  src/logstory/logstory.py
Due: no-hardcoded-secrets

docs: update for replay all --get
  Dockerfile.minimal
  Dockerfile.uvx
  Dockerfile.wheel
  README.md
  docs/cli-reference.md
Due: none

suppress bandit warnings
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

suppress bandit warnings
  src/logstory/logstory.py
Due: no-hardcoded-secrets

Standardize timestamp delta configuration and Cloud Scheduler jobs
  .gitignore
  Makefile
  docs/cloud-run-deployment-workflow.md
  docs/index.md
  src/logstory/logstory.py
Due: no-hardcoded-secrets

increment version to 1.1.1
  pyproject.toml
Due: none

Fix documentation inconsistencies in cloud-run-deployment-workflow.md
  docs/cloud-run-deployment-workflow.md
Due: none

Add pipe-delimited usecase filtering for Cloud Run deployments
  README.md
  docs/configuration.md
  docs/env-file.md
  docs/index.md
  docs/testing-pipe-delimited-usecases.md
  src/logstory/logstory.py
Due: no-hardcoded-secrets

Refactor Github Action per b/485167538
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
Due: no-hardcoded-secrets

chore: Migrate gsutil usage to gcloud storage
  README-DEV.md
  README.md
  docs/index.md
Due: none

feat: integrate SecOps ingestion-label scoping and raw log scraper
  docs/development/secops_scraper_prd.md
  pyproject.toml
  resolve_ingestion_range.py
  src/logstory/logstory.py
  src/logstory/scraper.py
  uv.lock
Due: no-hardcoded-secrets

fix: allow REST API ADC without impersonation and support nested UDM unflattening
  src/logstory/ingestion.py
  src/logstory/logstory.py
  src/logstory/main.py
  src/logstory/scraper.py
Due: no-hardcoded-secrets

feat(logstory): support JSON/UDM log ingestion and new log types
  .gitignore
  src/logstory/logstory.py
  src/logstory/logtypes_events_timestamps.yaml
  src/logstory/main.py
  tests/test_change_map_implementation.py
  tests/test_double_update_fix.py
  tests/test_main.py
  tests/test_windows_sysmon_patterns.py
Due: validate-timestamp-configs, no-hardcoded-secrets

chore(deps): modernize dependency management and update requirements
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README-DEV.md
  pyproject.toml
  requirements_dev.txt
  src/logstory/requirements.txt
  uv.lock
Due: none

chore: bump version to 1.1.2
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

test: add pytest configuration and restore _update_timestamp compatibility wrapper
  pyproject.toml
  src/logstory/main.py
Due: no-hardcoded-secrets

feat: migrate from Makefile to Justfile and bump version to 1.2.0
  CHANGELOG.md
  GEMINI.md
  Justfile
  Makefile
  README-DEV.md
  docs/cloud-run-deployment-workflow.md
  docs/index.md
  pyproject.toml
  src/logstory/__init__.py
Due: no-hardcoded-secrets

docs: standardize remaining recipe names and update uv.lock version
  Justfile
  docs/index.md
  uv.lock
Due: none

chore: update copyright year to 2026 in python files and pre-commit config
  .license-header.txt
  .pre-commit-config.yaml
  docs/conf.py
  src/logstory/__init__.py
  src/logstory/auth.py
  src/logstory/ingestion.py
  src/logstory/logstory.py
  src/logstory/main.py
  src/logstory/usecases/NETWORK_ANALYSIS/__init__.py
  src/logstory/usecases/__init__.py
  tests/analyze_all_timestamps.py
  tests/test_auth.py
  tests/test_change_map_implementation.py
  tests/test_double_update_fix.py
  tests/test_group_only_replacement.py
  tests/test_logstory.py
  tests/test_main.py
  tests/test_sysmon_pattern_edge_cases.py
  tests/test_timestamp_patterns.py
  tests/test_windows_sysmon_patterns.py
  tests/test_yaml.py
  tests/timestamp_extractor.py
  usecases/generate_usecase_docs.py
Due: no-hardcoded-secrets

chore: update copyright year to 2026 in yaml configs and remaining files
  cloudbuild.yaml
  src/logstory/logtypes_entities_timestamps.yaml
  src/logstory/logtypes_events_timestamps.yaml
  src/logstory/usecases/NETWORK_ANALYSIS/__init__.py
  src/logstory/usecases/__init__.py
Due: validate-timestamp-configs, no-hardcoded-secrets

refactor: resolve ruff linting errors in auth and ingestion modules
  src/logstory/auth.py
  src/logstory/ingestion.py
Due: no-hardcoded-secrets

chore: bump version to 1.2.1 and update changelog
  CHANGELOG.md
  pyproject.toml
  src/logstory/__init__.py
  uv.lock
Due: no-hardcoded-secrets

Bring codebase into full compliance with Google Python Style Guide (Issue #11)
  pyproject.toml
  src/logstory/__init__.py
  src/logstory/auth.py
  src/logstory/ingestion.py
  src/logstory/logstory.py
  src/logstory/main.py
  src/logstory/usecases/NETWORK_ANALYSIS/__init__.py
  src/logstory/usecases/__init__.py
  tests/analyze_all_timestamps.py
  tests/test_auth.py
  tests/test_change_map_implementation.py
  tests/test_double_update_fix.py
  tests/test_group_only_replacement.py
  tests/test_main.py
  tests/test_sysmon_pattern_edge_cases.py
  tests/test_timestamp_patterns.py
  tests/test_windows_sysmon_patterns.py
  tests/test_yaml.py
  tests/timestamp_extractor.py
  usecases/generate_usecase_docs.py
Due: no-hardcoded-secrets

Add nosec B404 annotation to top-level subprocess import
  src/logstory/logstory.py
Due: no-hardcoded-secrets

Bump version to 1.2.2 and update changelog
  CHANGELOG.md
  pyproject.toml
  src/logstory/__init__.py
  uv.lock
Due: no-hardcoded-secrets

Remove all emojis across repository and drop Python 3.9 from CI matrix
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validation.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/development/releases.md
  docs/index.md
  tests/test_double_update_fix.py
Due: no-hardcoded-secrets

Pin actions to commit SHAs and fix template injection in workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validation.yml
Due: no-hardcoded-secrets

Configure explicit least-privilege permissions across all GitHub Actions workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validation.yml
Due: no-hardcoded-secrets

Path conditions:
  validate-timestamp-configs: any of: src/logstory/logtypes_.*_timestamps\.yaml$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$

  validate-chronicle-rules: any of: \.yl2$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$

  no-hardcoded-secrets: any of: \.(yaml|yml|json|tf|py)$ and not (^(tests/|\.secrets\.baseline)) and not ((?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$
)
