Repository chronicle/logstory: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-timestamp-configs, validate-chronicle-rules, no-hardcoded-secrets

Path conditions:
  validate-timestamp-configs: any of: src/logstory/logtypes_.*_timestamps\.yaml$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$

  validate-chronicle-rules: any of: \.yl2$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$

  no-hardcoded-secrets: any of: \.(yaml|yml|json|tf|py)$ and not (^(tests/|\.secrets\.baseline)) and not ((?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$
)

Remove all emojis across repository and drop Python 3.9 from CI matrix
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validation.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
  docs/development/releases.md
  docs/index.md
  tests/test_double_update_fix.py
Due: no-hardcoded-secrets

Bump version to 1.2.2 and update changelog
  CHANGELOG.md
  pyproject.toml
  src/logstory/__init__.py
  uv.lock
Due: no-hardcoded-secrets

Configure explicit least-privilege permissions across all GitHub Actions workflows
  .github/workflows/deploy-docs.yml
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validation.yml
Due: no-hardcoded-secrets

Handle special characters in log entries to prevent API timeouts (Issue #24)
  CHANGELOG.md
  pyproject.toml
  src/logstory/__init__.py
  src/logstory/ingestion.py
  src/logstory/main.py
  tests/test_special_characters.py
  uv.lock
Due: no-hardcoded-secrets

test(coverage): implement comprehensive test suite and coverage reporting infrastructure
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  pyproject.toml
  tests/test_auth.py
  tests/test_cli.py
  tests/test_hypothesis.py
  tests/test_ingestion.py
  tests/test_main.py
  tests/test_main_functions.py
  tests/test_special_characters.py
  uv.lock
Due: no-hardcoded-secrets

ci: update test matrix to Python 3.11 and 3.12 matching requires-python
  .github/workflows/quality-gates.yml
  .github/workflows/test.yml
Due: no-hardcoded-secrets

test(ci): add Python 3.13 to test matrices
  .github/workflows/quality-gates.yml
  .github/workflows/test.yml
Due: no-hardcoded-secrets

test(coverage): implement comprehensive test suite and coverage reporting infrastructure (#55)
  .github/workflows/quality-gates.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  pyproject.toml
  tests/test_auth.py
  tests/test_cli.py
  tests/test_hypothesis.py
  tests/test_ingestion.py
  tests/test_main.py
  tests/test_main_functions.py
  tests/test_special_characters.py
  uv.lock
Due: no-hardcoded-secrets

feat: Add UDM Search integration to logstory
  UDM_SEARCH_IMPLEMENTATION.md
  UDM_SEARCH_QUICKSTART.md
  src/logstory/logstory.py
  src/logstory/logtypes_events_timestamps.yaml
  src/logstory/main.py
  tests/test_udm_search.py
Due: validate-timestamp-configs, no-hardcoded-secrets

feat: Add --force flag to usecases get command for forced updates
  CHANGELOG.md
  ISA.md
  docs/cli-reference.md
  src/logstory/logstory.py
  tests/test_usecases_get_force.py
Due: no-hardcoded-secrets

fix: Address roborev review findings for --force flag
  ISA.md
  src/logstory/logstory.py
  tests/test_usecases_get_force.py
Due: no-hardcoded-secrets

fix: Use safer approach for force-update to prevent data loss
  src/logstory/logstory.py
  tests/test_usecases_get_force.py
Due: no-hardcoded-secrets

fix: Correct path comparison and directory cleanup logic
  src/logstory/logstory.py
  tests/test_usecases_get_force.py
Due: no-hardcoded-secrets

fix: Add path separator normalization and improve test rigor
  src/logstory/logstory.py
  tests/test_usecases_get_force.py
Due: no-hardcoded-secrets

fix: Remove unused variable in test
  tests/test_usecases_get_force.py
Due: none

fix: resolve REST ingestion 400 INVALID_ARGUMENT and parameter validation (Issue #59)
  src/logstory/ingestion.py
  src/logstory/logstory.py
  tests/test_cli.py
  tests/test_ingestion.py
Due: no-hardcoded-secrets

fix: dynamically initialize ingestion_backend from runtime env in CLI replay (Issue #59)
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

fix: harden region fallback, forwarder creation status, and local output env
  src/logstory/ingestion.py
  src/logstory/logstory.py
  src/logstory/main.py
  tests/test_ingestion.py
Due: no-hardcoded-secrets

fix: re-introduce get_ingestion_backend lazy loader (Issue #59)
  src/logstory/main.py
Due: no-hardcoded-secrets

chore: clean up unused imports and suppress PLW0603 in main.py
  src/logstory/main.py
Due: no-hardcoded-secrets

fix: skip gracefully when --entities replay finds no entity logs (Issue #59)
  src/logstory/logstory.py
  tests/test_cli.py
Due: no-hardcoded-secrets

feat(usecases): bundle EDR_WORKSHOP, HIGH_RISK_USER, and MALWARE_IOC usecases
  src/logstory/usecases/EDR_WORKSHOP
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO
  src/logstory/usecases/MALWARE_IOC
Due: none

feat(package): include real usecase directories in package data
  src/logstory/usecases/EDR_WORKSHOP
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO
  src/logstory/usecases/MALWARE_IOC
  src/logstory/usecases/RULES_SEARCH_WORKSHOP
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/PARSER_EXTENSIONS/WINDOWS_AD.proto
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/mitre_attack_T1021_002_windows_admin_share_basic.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/rw_mimikatz_T1003.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/win_password_spray.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/win_repeatedAuthFailure_thenSuccess.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES_SEARCH_WORKSHOP.md
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES_SEARCH_WORKSHOP_generated.md
Due: validate-chronicle-rules

fix(package): track usecase log files and update .gitignore exception
  .gitignore
  src/logstory/usecases/EDR_WORKSHOP/EVENTS/CS_DETECTS.log
  src/logstory/usecases/EDR_WORKSHOP/EVENTS/CS_EDR.log
  src/logstory/usecases/EDR_WORKSHOP/EVENTS/WINDOWS_SYSMON.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/ENTITIES/GCP_DLP_CONTEXT.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/ENTITIES/GCP_IAM_ANALYSIS.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/CS_EDR.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/TANIUM_TH.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/UDM.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/WINDOWS_DHCP.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/ZSCALER_WEBPROXY.log
  src/logstory/usecases/MALWARE_IOC/ENTITIES/OKTA_USER_CONTEXT.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/CHROME_MANAGEMENT.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/GCP_DNS.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/WINDOWS_DEFENDER_ATP.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/WINDOWS_DHCP.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/WINDOWS_SYSMON.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/ZSCALER_WEBPROXY.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/ENTITIES/WINDOWS_AD.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/POWERSHELL.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/WINDOWS_DEFENDER_AV.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/WINDOWS_SYSMON.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/WINEVTLOG.log
Due: none

fix(ingestion): do not add top-level labels to entity payload in REST import (Issue #59)
  src/logstory/ingestion.py
  tests/test_ingestion.py
Due: no-hardcoded-secrets

revert: remove bundled usecase datasets and restore original package layout
  .gitignore
  src/logstory/usecases/EDR_WORKSHOP/EVENTS/CS_DETECTS.log
  src/logstory/usecases/EDR_WORKSHOP/EVENTS/CS_EDR.log
  src/logstory/usecases/EDR_WORKSHOP/EVENTS/WINDOWS_SYSMON.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/ENTITIES/GCP_DLP_CONTEXT.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/ENTITIES/GCP_IAM_ANALYSIS.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/CS_EDR.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/TANIUM_TH.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/UDM.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/WINDOWS_DHCP.log
  src/logstory/usecases/HIGH_RISK_USER_DOWNLOAD_EXECUTABLE_FROM_MACRO/EVENTS/ZSCALER_WEBPROXY.log
  src/logstory/usecases/MALWARE_IOC/ENTITIES/OKTA_USER_CONTEXT.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/CHROME_MANAGEMENT.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/GCP_DNS.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/WINDOWS_DEFENDER_ATP.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/WINDOWS_DHCP.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/WINDOWS_SYSMON.log
  src/logstory/usecases/MALWARE_IOC/EVENTS/ZSCALER_WEBPROXY.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/ENTITIES/WINDOWS_AD.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/POWERSHELL.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/WINDOWS_DEFENDER_AV.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/WINDOWS_SYSMON.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/EVENTS/WINEVTLOG.log
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/PARSER_EXTENSIONS/WINDOWS_AD.proto
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/mitre_attack_T1021_002_windows_admin_share_basic.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/rw_mimikatz_T1003.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/win_password_spray.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES/win_repeatedAuthFailure_thenSuccess.yl2
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES_SEARCH_WORKSHOP.md
  src/logstory/usecases/RULES_SEARCH_WORKSHOP/RULES_SEARCH_WORKSHOP_generated.md
Due: validate-chronicle-rules

fix(gcs): add anonymous client fallback for public bucket downloads
  src/logstory/logstory.py
Due: no-hardcoded-secrets

fix(usecases): correct parse_usecase_source call and check service account credentials for GCS
  src/logstory/logstory.py
Due: no-hardcoded-secrets

docs: update PR #60 changelog and REST migration troubleshooting
  CHANGELOG.md
  docs/REST_API_MIGRATION.md
  src/logstory/logstory.py
Due: no-hardcoded-secrets

docs: update changelog and migration docs for REST ingestion and GCS credentials
  CHANGELOG.md
Due: none

fix: resolve REST Ingestion 400 INVALID_ARGUMENT and CLI runtime initialization (#60)
  CHANGELOG.md
  docs/REST_API_MIGRATION.md
  src/logstory/ingestion.py
  src/logstory/logstory.py
  src/logstory/main.py
  tests/test_cli.py
  tests/test_ingestion.py
Due: no-hardcoded-secrets

feat(usecases): add cns:// source retrieval and DataNexus workflow recipes
  Justfile
  src/logstory/logstory.py
  tests/test_cli.py
Due: no-hardcoded-secrets
