Repository chronicle/logstory: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-timestamp-configs, validate-chronicle-rules, no-hardcoded-secrets

Path conditions:
  validate-timestamp-configs: any of: src/logstory/logtypes_.*_timestamps\.yaml$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$

  validate-chronicle-rules: any of: \.yl2$, but not: (?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$

  no-hardcoded-secrets: any of: \.(yaml|yml|json|tf|py)$ and not (^(tests/|\.secrets\.baseline)) and not ((?x)^(
  \.git/.*|
  \.venv/.*|
  venv/.*|
  __pycache__/.*|
  \.pyc$|
  dist/.*|
  \.egg-info/.*|
  cloudfunctions/.*|
  docs/_build/.*
)$
)

feat: migrate CLI from Abseil to Typer with environment file support
  CHANGELOG.md
  README.md
  docs/index.md
  pyproject.toml
  src/logstory/logstory.py
Due: no-hardcoded-secrets

feat: add URI-style prefix support and Jinja2 template system
  README.md
  docs/conf.py
  docs/index.md
  src/logstory/logstory.py
  src/logstory/main.py
  usecases/NETWORK_ANALYSIS/NETWORK_ANALYSIS.md
  usecases/README_template.md
  usecases/RULES_SEARCH_WORKSHOP/RULES_SEARCH_WORKSHOP.md
  usecases/generate_usecase_docs.py
  usecases/usecase_template.j2
Due: no-hardcoded-secrets

feat: Add local file output option for log replay
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

feat: Add per-log-type directory support with hierarchical structure
  README.md
  src/logstory/logtypes_events_timestamps.yaml
  src/logstory/main.py
Due: validate-timestamp-configs, no-hardcoded-secrets

feat: Add file:// URI support and comprehensive CLI documentation
  README.md
  docs/cli-reference.md
  docs/configuration.md
  docs/file-sources.md
  docs/index.md
  src/logstory/logstory.py
Due: no-hardcoded-secrets

docs: add comprehensive .env file documentation and example
  docs/env-file.md
  docs/index.md
  src/logstory/.env.example
  src/logstory/logstory.py
Due: no-hardcoded-secrets

new patterns for THW Entities
  src/logstory/logtypes_entities_timestamps.yaml
Due: validate-timestamp-configs, no-hardcoded-secrets

timestamp testing util in tests/
  tests/timestamp_extractor.py
Due: none

feat: Modernize timestamp config format and enhance WINDOWS_AD patterns
  .pre-commit-config.yaml
  src/logstory/logtypes_entities_timestamps.yaml
Due: validate-timestamp-configs, no-hardcoded-secrets

refactor: Rename 'filetime' to 'windowsfiletime' for clarity
  .pre-commit-config.yaml
  src/logstory/logtypes_entities_timestamps.yaml
  src/logstory/main.py
  tests/timestamp_extractor.py
Due: validate-timestamp-configs, no-hardcoded-secrets

deprecate epoch as key
  src/logstory/logtypes_entities_timestamps.yaml
  src/logstory/logtypes_events_timestamps.yaml
Due: validate-timestamp-configs, no-hardcoded-secrets

test: update WINDOWS_SYSMON tests for dateformat-only approach
  tests/test_windows_sysmon_patterns.py
Due: none

fix: Add negative lookbehind to WINDOWS_SYSMON timestamp patterns
  src/logstory/logtypes_events_timestamps.yaml
Due: validate-timestamp-configs, no-hardcoded-secrets

refactor: find maximum base_time timestamp across all log lines
  src/logstory/main.py
Due: no-hardcoded-secrets

fix: prevent double timestamp updates in log processing
  src/logstory/main.py
  tests/test_double_update_fix.py
Due: no-hardcoded-secrets

docs: add documentation for change map timestamp replacement algorithm
  docs/timestamp_replacement_algorithm.md
  docs/timestamps_yaml_notes.md
Due: none

feat: implement group-only replacement for timestamp patterns
  PLANNING.md
  compare_timestamps.py
  docs/pattern_simplification_example.md
  extract_timestamps.py
  src/logstory/.env.og
  src/logstory/main.py
  src/logstory/usecases/THW2/ENTITIES/logstory__worktree__typer.code-workspace
  test_regex.py
  tests/analyze_all_timestamps.py
  tests/azure_ad_context_analysis.txt
  tests/test_group_only_replacement.py
  tests/test_main.py
  tests/test_sysmon_pattern_edge_cases.py
  tests/test_timestamp_patterns.py
  tests/thw_entities_timestamp_summary.txt
  tests/windows_ad_specific_analysis.txt
  tests/windows_ad_timestamp_analysis.txt
  usecases/NETWORK_ANALYSIS/EVENTS/BRO_JSON.log
  usecases/NETWORK_ANALYSIS/NETWORK_ANALYSIS_generated.md
  usecases/RULES_SEARCH_WORKSHOP/RULES_SEARCH_WORKSHOP_generated.md
  yaml-regex-test.py
Due: no-hardcoded-secrets

refactor: consolidate duplicate strftime timestamp patterns
  src/logstory/logtypes_entities_timestamps.yaml
  src/logstory/logtypes_events_timestamps.yaml
Due: validate-timestamp-configs, no-hardcoded-secrets

docs: update consolidation documentation to match actual implementation
  tests/example_consolidated_windows_defender_av.yaml
  tests/example_consolidated_windows_sysmon.yaml
  tests/yaml_consolidation_proposal.md
Due: none

bump version
  pyproject.toml
Due: none

fix: update timestamp validation to use dateformat field instead of deprecated epoch field
  .github/workflows/quality-gates.yml
  .github/workflows/test.yml
  .github/workflows/validation.yml
  tests/test_yaml.py
Due: no-hardcoded-secrets

Update uv.lock after Typer migration and v1.0.0 release
  PLANNING.md
  compare_timestamps.py
  docs/scripting.md
  extract_timestamps.py
  replay_entities.sh
  replay_entities_blkht.sh
  replay_events.sh
  test_cascade.txt
  test_regex.py
  uv.lock
  yaml-regex-test.py
Due: no-hardcoded-secrets

Add Duo event ts patterns and dateformats
  src/logstory/logtypes_events_timestamps.yaml
Due: validate-timestamp-configs, no-hardcoded-secrets

rm copypasta
  src/logstory/logstory copy.py
Due: no-hardcoded-secrets

feat: Introduce Chronicle REST API ingestion support
  .env.legacy.example
  .env.rest.example
  .gitmodules
  README.md
  docs/REST_API_MIGRATION.md
  pyproject.toml
  src/logstory/auth.py
  src/logstory/ingestion.py
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

feat: Support Application Default Credentials for REST API impersonation
  src/logstory/auth.py
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

Remove deprecated cloud functions and rules
  Dockerfile.minimal.wheel
  cloudbuild-wheel.yaml
  docs/cloud-run-deployment-workflow.md
  src/logstory/auth.py
  src/logstory/logstory.py
  src/logstory/main.py
Due: no-hardcoded-secrets

feat: Add comprehensive Cloud Run deployment automation
  Dockerfile.minimal
  Dockerfile.uvx
  Dockerfile.wheel
  cloudbuild.yaml
Due: no-hardcoded-secrets

Fix Dockerfiles and consolidate Cloud Run deployment documentation
  docs/cloud-run-deployment-workflow.md
Due: none

Remove obsolete Cloud Functions Terraform files
  cloudfunctions/backend.tf.og
  cloudfunctions/bash.sh
  cloudfunctions/cloud-function-entities-24h.tf
  cloudfunctions/cloud-function-entities-3day.tf
  cloudfunctions/cloud-function-events-24h.tf
  cloudfunctions/cloud-function-events-3day.tf
  cloudfunctions/enable-apis.tf
  cloudfunctions/gcs-bucket.tf
  cloudfunctions/provider.tf
  cloudfunctions/requirements.txt
  cloudfunctions/scheduler-entities-24h.tf
  cloudfunctions/scheduler-entities-3day.tf
  cloudfunctions/scheduler-events-24h.tf
  cloudfunctions/scheduler-events-3day.tf
  cloudfunctions/secrets-manager.tf
  cloudfunctions/service-account.tf
  cloudfunctions/variables.tf.og
  docs/cloud-run-deployment-workflow.md
Due: none

Simplify Cloud Run deployment to single job with parameter overrides
  Makefile
Due: none

Update Cloud Run deployment docs for single-job architecture
  docs/cloud-run-deployment-workflow.md
  pyproject.toml
  src/logstory/.env.ltstr740
  src/logstory/.env.og
  src/logstory/.env.secops-lab
  src/logstory/logtypes_entities_timestamps.yaml.bak
Due: none

Add enable-apis target to Makefile, remove setup-cloud-run.sh
  Makefile
Due: none

Update docs to include enable-apis step in workflow
  docs/cloud-run-deployment-workflow.md
Due: none

Cloud build debugging
  Dockerfile.wheel
  Makefile
  cloudbuild-wheel.yaml
  docs/REST_API_MIGRATION.md
  src/logstory/logstory.py
Due: no-hardcoded-secrets

rm api fallback to legacy when project-id is missing
  Makefile
  src/logstory/auth.py
  src/logstory/ingestion.py
  src/logstory/logstory.py
Due: no-hardcoded-secrets

disambiguate region
  Makefile
Due: none

make API_TYPE required, less surprising
  Makefile
  src/logstory/auth.py
  src/logstory/main.py
Due: no-hardcoded-secrets
